<div class="jumbotron">
  <h1 class="display-4">Audio Samples App</h1>
  <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
  <p class="lead">
    <a class="btn btn-light btn-lg" href="#" role="button">Check out samples</a>
  </p>
</div>
