.categories-container {
  margin: 10px auto;
  width: 70%;
  padding: 8px;
  text-align: center;
}

.categories-header {
  text-align: center;
  margin: 20px;
}

.categories-list-category {
  margin: 4px;
}

.categories-header-box {
  margin: 0 auto 40px;
  width: 50%;
  text-align: center;
  font-size: 20px;
}