<h2 class="categories-header">Categories</h2>
<div class="categories-header-box">
  <p>Choose a category to see its related audio samples</p>
</div>
<div class="categories-container">
  <% @categories.each do |category| %>
  <button class="btn btn-success categories-list-category"><%= link_to category.name, categorised_path(category: category)  %></button>
  <% end %>
</div>


